body {
    background-color: #000000; /* Fundo preto */
    color: #FFFFFF; /* Texto branco */
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    position: absolute; /* Permite movimentar a imagem livremente */
    top: -30px; /* Ajusta a posição vertical */
    left: 5px; /* Ajusta a posição horizontal */
}

.logo {
    width: 140px; /* Ajuste o tamanho conforme necessário */
    height: auto;
}

.login-text {
    position: absolute;
    top: 90px;
    left: 20px;
    font-size: 35px;
    color: white;
    font-weight: bold;
}

.form-container {
    margin-top: 150px; /* Espaçamento superior */
    text-align: center;
    position: relative; /* Permite mover os formulários */
}

.input-field {
    width: 300px;
    padding: 14px;
    margin: 10px 0;
    background-color: #000000;
    border: 1px solid #555;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
}

.login-button {
    width: 320px;
    padding: 10px;
    margin-top: 10px;
    background-color: red;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: darkred;
}

/* Estilo para permitir mover o botão e os formulários */
.moveable {
    position: absolute; /* Para mover livremente */
    top: 50%; /* Para centralizar verticalmente dentro do elemento */
    left: 50%; /* Para centralizar horizontalmente dentro do elemento */
    transform: translate(-50%, -50%); /* Ajusta a posição para um centro perfeito */
}

/* Para permitir o movimento para os lados, altere as propriedades top e left conforme necessário */
.move-left {
    left: 20%; /* Move o conteúdo para a esquerda */
}

.move-right {
    left: 80%; /* Move o conteúdo para a direita */
}

.move-up {
    top: 10%; /* Move o conteúdo para cima */
}

.move-down {
    top: 90%; /* Move o conteúdo para baixo */
}

.final-image-container {
    text-align: center;
    margin-top: 15px; /* Espaçamento superior */
}

.final-image {
    width: 100%; /* Ajusta a largura da imagem para a largura do container */
    max-width: 600px; /* Define o tamanho máximo da imagem */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 10px; /* Arredonda as bordas da imagem */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Adiciona sombra */
    transition: transform 0.3s ease;
}

.final-image:hover {
    transform: scale(1.05); /* Aumenta um pouco a imagem quando passa o mouse */
}